<div class="container-fluid">

  <!--LESSON 2-->
  <div class="row">
    <div class="col-xs-12>">
      <h2>Lesson Number 2</h2>
      <hr>
      <app-server-farm></app-server-farm>
    </div>
  </div>

  <!--LESSON 1-->
  <div class="row">
    <div class="col-xs-12">
      <h2>Lesson Number 1</h2>
      <hr>
      <h3>This is my Warning Alert component :(</h3>
      <app-warning-alert></app-warning-alert>
      <app-warning-alert></app-warning-alert>
      <hr>
      <h3>This is my Success Alert component :)</h3>
      <app-success-alert></app-success-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>